# Python Sessions with DEPI - Session 1

### Print a message onto the screen:

In [1]:
# Using double quotes
print('Aya Ahmed')

Aya Ahmed

In [2]:
# Using single quotes
print("Aya Ahmed")

Aya Ahmed

In [4]:
# Try printing your name
print("AYA")

AYA

In [6]:
# What is the output?
print('let's start')

SyntaxError: unterminated string literal (detected at line 2) (759537218.py, line 2)

Single and duble quotes do the same job but in case you are printing a string with upstroph you should use the duble quotes like the code below

In [7]:
# Single quote inside double quotes
print("let's start")

let's start

If you want to print a long string (in multiple lines) you should use the triple quotes

In [11]:
# Multi-line string
print('''Aya,
Ahmed,
Ali''')

Aya,
Ahmed,
Ali

In [12]:
# Try printing 1000
print(1000)

1000

In [13]:
print("1000")

1000

### Variables and Simple Data Types
Variables are containers for storing data values, Python has no command for declaring a variable, a variable is created the moment you first assign a value to it.

In [14]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [15]:
# Try printing "y"
print(y)

John

In [16]:
# Try printing x
print(x)

5

Variables do not need to be declared with any particular type (Dynamically Typed), and can even change type after they have been set.

In [ ]:
# Guess the output
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x) #-->overwrite

Sally

In [18]:
# Guess the output
y = 10
y = 20
y = 30
print(y) #30

30

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:

Age1
age_min
Age



#Illegal variable names:

1aya
aya^a%

Avoiding Name Errors When Using Variables

You should write the variable name without any mistakes

In [19]:
# What is the output?
message = "Hello Python"
print(message)

Hello Python

### Data Types - Strings
A string is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings

In [20]:
name = "Ali"

Changing Case in a String with Methods

In [22]:
# Try using .upper() and .lower() methods

name=name.upper()
name

'ALI'

In [ ]:
# Can we print 2 variables using 1 print statement?
first_name = "Mahmoud"
last_name = "Ali"
print(first_name + "\n" + last_name)

Mahmoud
Ali

To add a tab to your text, use the character combination \t as shown

In [ ]:
# What is the output?
print("\tPython") #-->tab

	Python

<code>\n</code> means new line

In [28]:
# What is the output? n new line
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

String concatenation

In [29]:
# What is the output?
print('mahmoud' + 'hassan')

mahmoudhassan

In [30]:
# What is the output?
print("10" + "1")

101

### Fstring

In [31]:
first_name = "mahmoud"
last_name = "hassan"

### Data Types - Numbers

#### Integers

#### Floats
Python calls any number with a decimal point a float

In [ ]:
# Some arithmatic operations applied on integers

In [32]:
# What is the output?
print((1+2)*4)

12

In [33]:
# What is the output?
print(100 + 0.5)

100.5

**Try It Yourself**
Write addition, subtraction, multiplication, and division operations that each result in the number 8. 
Be sure to enclose your operations in print() calls to see the results. You should create four lines that look like this: print(5+3)

In [35]:
print(2*4)

8

In [ ]:
print(2**3) #** ==^

8

In [37]:
print(3+5)

8

In [38]:
print(8-0)

8

When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float:
4/2 ⇒ 2.0

In [40]:
4/2

2.0

In [41]:
1 + 2.0

3.0

Multiple Assignment
You can assign values to more than one variable using just a single line. This can help shorten your programs and make them easier to read; you’ll use this technique most often when initializing a set of numbers. For example, here’s how you can initialize the variables x, y, and z

In [42]:
x = 10
y = 20
z = 30

In [43]:
# What is the output?
x, y, z = 0, 1, 2
print(z)

2

#### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn’t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [44]:
# Create a constant using python programmers convention
A=10

#### Comments

In [45]:
# Say hello to everyone.
print("Hello Python people!")

Hello Python people!

In [46]:
'''
My name is mahmoud ali
Age : 14
Address : Egypt 
'''

'\nMy name is mahmoud ali\nAge : 14\nAddress : Egypt \n'

In [49]:
# What is the output?
print(10+10)
#solve it by:
print("Ali"+"30")
print("Ali"+10)

20
Ali30

TypeError: can only concatenate str (not "int") to str

In [50]:
# What is the output?
name = "Ali"
num = 10.5
test = f"{name} {num}"
print(test)

Ali 10.5

#### List

In [1]:
# Create a list of names (strings)
list1=['mahmoud', 'ali', 'ahmed', 'mohamed']


# Create another list of strings and integers
list2=['Aya', '1', 'Ahmed', '2']


# Show both lists
print(list1)
print(list2)

['mahmoud', 'ali', 'ahmed', 'mohamed']
['Aya', '1', 'Ahmed', '2']

#### Accessing Elements in a List
NOTE: Index Positions Start at 0, Not 1

In [2]:
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

mohamed

In [3]:
# The last element in your list will have the index of -1
# What is the output?
print(names[-1]) #-->mohamed

mohamed

#### Changing, Adding, and Removing Elements

In [4]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names)

['mahmoud', 'ali', 'ahmed', 'mohamed']

In [6]:
# Modifying Elements in a List
names[0]='Aya'
print(names)

['Aya', 'ali', 'ahmed', 'mohamed']

In [11]:
# Adding Elements to a List
names.insert(1, 'Eissa')
print(names)

['Aya', 'Eissa', 'ali', 'ahmed', 'mohamed']

In [ ]:
# You can append (add) any items to your empty list like:
# What is the output?
t1 = ['a', 'b', 'c']


print(t1)

names.append(t1)
names.append('Ali')
names.append('samer')
print(names)

['a', 'b', 'c']
['mahmoud', 'ali', 'ahmed', 'mohamed', ['a', 'b', 'c'], 'Ali', 'samer']

In [12]:
# extend takes a list as an argument and appends all of the elements:
# What is the output?
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

#t1.append(t2)
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [14]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']
moreInstances=['Marcedes']

motorcycles.extend(moreInstances)
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'Marcedes']

In [16]:
# Removing an Item Using the del Statement
del motorcycles[1]
print(motorcycles)

['honda', 'suzuki', 'Marcedes']

In [17]:
# Removing an Item Using the pop() Method
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.pop()
print(names)

['mahmoud', 'ali', 'ahmed']

In [ ]:
# What is the output?
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)
#The pop() method in Python removes and returns the last item from a list

suzuki

In [20]:
# Removing an Item by Value
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.remove('honda')
print(motorcycles)

['yamaha', 'suzuki']

In [22]:
# Organizing a List
# What is the output?
numbers = [5, 3, 1, 4,2]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

Notice that reverse() doesn’t sort backward.

In [24]:
# Sorting a list of strings
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.sort()
print(names)

['ahmed', 'ali', 'mahmoud', 'mohamed']

In [26]:
#Finding the Length of a List
length_of_names = len(names)
print(length_of_names)

4

In [39]:
# Avoiding Index Errors When Working with Lists
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[4])

IndexError: list index out of range

In [27]:
# Print the items inside the list one by one
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
#For loop to iterate over each name from the list and print it
for name in names:
    print(name)

mahmoud
ali
ahmed
mohamed

In [ ]:
#Looping Through an Entire List

In [28]:
# Doing Something After a for Loop
# What is the output?
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

print('the end')

mahmoud
ali
ahmed
mohamed
the end

In [29]:
# Making Numerical Lists Using range function
# What is the output?
numbers = list(range(1, 20)) 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
# Create a list of even numbers starting at 2 till 10 (included)
numbers = list(range(2, 12, 2)) 
print(numbers)

[2, 4, 6, 8, 10]

In [31]:
# We can use the "range" function with "for" loop
# What is the output?
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [33]:
# Quiz 
# create a list of squares from 1 to 10 numbers

# Solution
squares = [x**2 for x in range(1, 11)]
print(squares)

for i in range(1,11):
    squares2=i**2
    print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
1
4
9
16
25
36
49
64
81
100

<details><summary><h4>Quiz Solution</h4></summary>

```python
squares = [x**2 for x in range(1, 11)]
print(squares)
```

</details>

In [34]:
# Simple Statistics with a List of Numbers
# What is the output?
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

0
9
45

In [35]:
# List Comprehensions
# What is the output?
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
# List of even numbers from 1 to 20
squares = [value for value in range(0, 21,2)]
print(squares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
# List of coordinate pairs in a 3x3 grid
grid_size = 3
coordinates = []
#nested loops
for x in range(grid_size):
    for y in range(grid_size):
        coordinates.append((x, y))

print(coordinates)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [ ]:
# Multiplication table from 1 to 10
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print() #-->for better readablity

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [41]:
squares = []
for value in range(1, 11):
      squares.append(value ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Try It Yourself**


3.1 Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? 
Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [45]:
Invitations = ['Hend', 'Rana', 'Mervat']
for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")

Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Mervat?

3.2 Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite. 
Start with your program from Exercise 3.1. Add a print() call at the end of your program stating the name of the guest who can’t make it. 
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting. 
Print a second set of invitation messages, one for each person who is still in your list.

In [46]:
Invitations = ['Hend', 'Rana', 'Mervat']
for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")

print("Unfortunately, Mervat cannot come")

Invitations[2] = 'Noran'

for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")

Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Mervat?
Unfortunately, Mervat cannot come
Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Noran?

3.3 More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.

In [50]:
Invitations = ['Hend', 'Rana', 'Mervat']
for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")

print("Unfortunately, Mervat cannot come")

Invitations[2] = 'Noran'

for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")
print("Oh God, I can add three more people")

Invitations.insert(0,'Mostafa')
Invitations.insert(2,'Logien')
Invitations.append('Sarah')

for invitation in Invitations:
    print(f"Can you please accept my dinner invitation ya {invitation}?")

Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Mervat?
Unfortunately, Mervat cannot come
Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Noran?
Oh God, I can add three more people
Can you please accept my dinner invitation ya Mostafa?
Can you please accept my dinner invitation ya Hend?
Can you please accept my dinner invitation ya Logien?
Can you please accept my dinner invitation ya Rana?
Can you please accept my dinner invitation ya Noran?
Can you please accept my dinner invitation ya Sarah?



Start with your program from Exercise 3.1 or Exercise 3.2. Add a print() call to the end of your program informing people that you found a bigger dinner table. 
Use insert() to add one new guest to the beginning of your list.


Use insert() to add one new guest to the middle of your list. 


Use append() to add one new guest to the end of your list. 


Print a new set of invitation messages, one for each person in your list